.book-done{
    h1{
        color:$dark;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.5;
    }
    ul{
        margin: 48px 0;
        .item{
            display: flex;
            align-items: center;
        }
        strong,span{
            display: inline-block;
            font-size: 16px;
        }
        strong {
            font-weight: bold;
            min-width: 190px;
            &:nth-of-type(2){
                color:red;
            }
        }
        span{
            color:$gray-middle;
        }
        li.guest,li.time{
            border-top:1px solid $gray-light;
            border-bottom:1px solid $gray-light;
            padding: 24px 0;
        }
        li.room{
            padding: 24px 0;
        }
        li.total{
            padding-bottom: 24px;
        }
        .guest .item:nth-of-type(odd),.time .item:nth-of-type(odd){
            margin-bottom: 16px;
        }
    }
    .link-group{
        margin: 48px 0 0 0;
        .edit,.home{
            display: block;
            padding: 25px;
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
            max-width: 350px;
            width: 100%;
        }
        .edit{
            border:1px solid $gray-middle;
            color:$gray-middle;
            @include mobile-x{
                margin-bottom: 24px;
            }
        }
        .home{
            background-color: $primary;
            color:$white;
            transition: .3s ease all;
            &:hover{
                background-color: darken($primary,5%);
            }
        }
    }
}