.footer{
    color: $gray-middle;
    background-color: $white;
    width: 100%;
    .google-map{
        position:relative;
        .map-style{
            width: 100%;
            min-height: 350px;
        }
        .contact{
            writing-mode:vertical-rl;
            margin-left:auto ;
            position: absolute;
            top:10px;
            right:20px;
            p{
                font-size: 14px;
                margin-left: 5px;
            }
        }
    }
    .owner-right{
        font-size: 16px;
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include mobile {
            font-size: 14px;
        }
    }
}